<section class="blog-post">This is the blog post
    <div class="comments">This is the comments section
        <div id = '1' class="comment">{{Here is the first comment}}</div>
        <div id = '2' class="comment">{{Here is the second comment}}</div>
    </div>
</section>