<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="Repository">
            <directory>./module/Application/test/Repository</directory>
        </testsuite>
    </testsuites>
</phpunit>
